<!--
  Generated template for the CurrentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Current</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>


    <ion-card *ngFor="let item of current">
        <ion-card-content>
<h4>{{item.Banks}}</h4>
<h2>{{item.Minimum_account_opening_balance}}</h2>
<p text-right>{{item.Interest_rate}}</p>
<p text-right>{{item.child_type}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>
