progress-bar {
 
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        // padding: 3px;
        // text-align: center;
        text-align: right;
        // background-color: #bd4848;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 10px;
        background-color: map-get($colors, tertiary);

    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 10px;
        background-color: map-get($colors, primary);
    }


    .progress-label{
        width: 96%;
        // border: 1px solid #dcdcdc;
    }
  
    .labelLeft{
        // text-align: left;

    }
  
    .labelRight{
        // text-align: right;
        padding-left: 50%;

    }
   
 
}