<!-- Generated template for the ProgressBarComponent component -->
<div class="progress-outer">
  <div class="progress-inner" [style.width]="progress + '%'">
      {{progressAge}} Years
  </div>
</div>
<!-- <div class="progress-label">

  <i class="labelLeft">{{tleft}}Years</i>
  <i class="labelRight">{{tright}}Years</i>
</div> -->
<div class="progress-label">

  <i float-left >{{tleft}} Year(s)</i>
  <i float-right >{{tright}} Year(s)</i>
</div>
<!-- <i text-left></i> -->