page-splash-two {
    ion-content {
        background: url('../assets/imgs/splash2-bg.png') no-repeat center center;
        background-size: 100% 100% !important;
    }
    img {
        width: 80px;
        position: absolute;
        right: 30px;
        bottom: 25px;
    }
}