<!--
  Generated template for the ViewtransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>viewtransactions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content> -->

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{userName}}'s Transactions</ion-title>
    </ion-navbar>

    <!-- <br>
    <div class="offer" text-center>
    </div> -->
</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> <button ion-button small ><ion-icon name="refresh" (click)="getTransactionsApi()" color="secondary"></ion-icon></button>
        
    <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>

    


    <ion-list no-lines no-margin>
            <ion-item *ngFor="let item of transactions">
                <ion-thumbnail item-start (click)="editTrans(item)">
                    <img src="assets/imgs/submenu/limeRefreshers.png">
                </ion-thumbnail>
                <h2 (click)="editTrans(item)"> {{item.trans_type == 'dr' ? 'Debit':'Credit'}}</h2>
                <p (click)="editTrans(item)">{{ item.trans_desc }}</p>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <button no-padding ion-button clear small color="primary">
                     NGN {{ item.trans_amt | number}}
                      </button>
                    </ion-col>
                    <ion-col (click)="editTrans(item)">
    
                    </ion-col>
                    <ion-col text-right no-padding>
                        <button no-padding ion-button clear small [color]="'light'"  icon-start>
                            {{item.trans_bucket}}
                            <ion-icon name='trash'></ion-icon>
                    </button>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>



</ion-content>