page-viewtransactions {

    ion-header {
        background: url('../assets/imgs/submenu-header.png') no-repeat center center;
        background-size: 100% 100% !important;
        min-height: 35vh;
        color: map-get($colors, secondary) !important;
    }
    .toolbar-background {
        background: transparent !important;
    }
    .toolbar-title,
    .bar-button {
        color: map-get($colors, secondary) !important;
    }
    .offer {
        width: fit-content;
        margin: 0 auto;
        color: #DBC8A8;
        letter-spacing: 0.5px;
        h2 {
            font-family: OpenSans-BoldItalic;
            color: #DBC8A8;
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            color: #DBC8A8;
            font-family: OpenSansLight-Italic;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .new-price {
            font-family: OpenSans-Semibold;
            font-size: 16px;
            color: map-get($colors, secondary);
            font-weight: bold;
        }
        .old-price {
            font-family: OpenSans-Italic;
            color: rgba(255, 255, 255, 0.75);
            text-decoration: line-through;
        }
    }
    ion-item {
        height: 120px !important;
        /* CSS trick to show gradient border */
        border-bottom: 1px solid transparent !important;
        border-image: linear-gradient(to left, transparent 0%, map-get($colors, gradient-border-color) 25%, map-get($colors, gradient-border-color) 75%, transparent 100%) !important;
        border-image-slice: 1 !important;
        h2 {
            font-family: OpenSans-Semibold;
            font-size: 36px;
            color: map-get($colors, title);
        }
        p {
            font-size: 24px;
            color: map-get($colors, text);
        }
        button {
            font-family: OpenSans-Semibold;
            font-size: 28px;
        }
    }
    ion-thumbnail {
        width: 60px !important;
        height: 80px !important;
        img {
            width: 60px !important;
            height: 80px !important;
        }
    }
}
