<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{userName}}'s Dashboard</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{userName}}'s Dashboard</ion-title>

    </ion-navbar>

    <br>
    <div class="offer" text-center>
        <!-- <h2>The Science of Delicious.</h2>
        <p>Amazing coffees from around the world! </p> -->
        <!-- <ion-grid >
          <ion-row justify-content-center align-items-center >
              <button ion-button small >Week</button>
              <button ion-button small>Month</button>
              <button ion-button small >Year</button>
              <button ion-button small (click)="clearInit()">Range</button>
      
          </ion-row>
        </ion-grid> -->
    </div>


  </ion-header>


<ion-content padding>
    <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>


    <ion-grid >
        <ion-row justify-content-center align-items-center >
            <button ion-button small (click)="week()" >Week</button>
        <button ion-button small (click)="month()" >Month</button>
        <button ion-button small (click)="year()" >Year</button>
        <button ion-button small (click)="range()" >Range</button>
  
    </ion-row>
  </ion-grid>
  
      <ion-card *ngIf="drange">
          
        <ion-card-content>
            <ion-item>
              <ion-label stacked> From </ion-label>
              <ion-input type="date" [(ngModel)]="from" name="from" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked> To </ion-label>
              <ion-input type="date" [(ngModel)]="to" name="to" ></ion-input>
            </ion-item>
        <button ion-button small (click)="getRange()" >Go</button>
           
         </ion-card-content>
      </ion-card>



      <ion-card>
          <!-- <ion-card-header>
            Doughnut Chart
          </ion-card-header> -->
          <ion-card-content>
            <canvas #doughnutCanvas></canvas>
          </ion-card-content>
        </ion-card>
        <!-- <hr> -->
        <ion-card>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
        
        
        
        <!-- <hr> -->
        <ion-card>
          <ion-card-content>
        
        <ion-grid>
          <ion-row>
        
            <ion-col col-12>
              
              <h1>Networth(NGN): {{networth}} <ion-icon name="{{nwTrend > 0 ? 'arrow-round-up' : 'arrow-round-down'}}" color="{{nwTrend > 0 ? 'primary' : 'danger'}}"></ion-icon></h1>
            </ion-col>
            <ion-col col-4>
              <h5>Assets(NGN): <br> {{assets}} <ion-icon name="{{assetTrend > 0 ? 'arrow-round-up' : 'arrow-round-down'}}" color="{{assetTrend > 0 ? 'primary' : 'danger'}}"></ion-icon></h5>
            </ion-col>
            <ion-col col-4>
              <h5>Liability(NGN): <br> {{liability}} <ion-icon name="{{liabTrend > 0 ? 'arrow-round-up' : 'arrow-round-down'}}" color="{{liabTrend > 0 ? 'primary' : 'danger'}}"></ion-icon></h5>
            </ion-col>
            <ion-col col-4>
              <h5>Pension(NGN): <br> {{pension}} <ion-icon name="arrow-round-up" color="primary"></ion-icon></h5>
            </ion-col>
          </ion-row>
        
        </ion-grid>
        
          </ion-card-content>
        </ion-card>
       
        <ion-card>
          <ion-card-content>
            
            <ion-grid>
              <ion-row>
                
                    <ion-col col-12>
                        <h1 text-center>Retirement Plan (NGN) </h1>
                      
                    </ion-col>
                    <ion-col col-3>
                      <h5>Savings: <br/> {{savings}} </h5>
                    </ion-col>
                    <ion-col col-3>
                      <h5>Expenses: <br/> {{expenses}} </h5>
                    </ion-col>
                    <ion-col col-6>
                      <h5>Annuity For {{retYrs}} Years: <br> {{annuity}} </h5>
                    </ion-col>
                  </ion-row>
                
                </ion-grid>
          
            <!-- <progress-bar [progressAge]="loadProgressAge" [progress]="loadProgress" [tright]="finAge" [tleft]="currAge" ></progress-bar> -->
            <progress-bar [progressAge]="loadProgressAge" [progress]="loadProgress" [tright]="finAge" [tleft]="currAge" ></progress-bar>
         
          </ion-card-content>
        </ion-card>
        
        
        <hr>
        <ion-card>
          <ion-card-content>
            
            <ion-grid>
                <ion-row>
                  
                
                  <ion-col col-6>
                      <h5>Amount to Retire(NGN):
                      <br>
                      {{amtRet}}</h5>
                  </ion-col>
                  <ion-col col-6>
                      <h5>Age to Retire(Years):<br/>{{ageRet}}</h5>
                  </ion-col>
                </ion-row>
              
              </ion-grid>
        
          </ion-card-content>
        </ion-card>



  </ion-content>
