page-dashboard {
    ion-header {
        background: url('../assets/imgs/submenu2-header.jpg') no-repeat center center;
        background-size: 100% 100% !important;
        min-height: 25vh;
        color: map-get($colors, secondary) !important;
    }
    ion-content {
        background: map-get($colors, tertiary) !important;
    }
    .toolbar-background {
        background: transparent !important;
    }
    .toolbar-title,
    .bar-button {
        color: map-get($colors, secondary) !important;
    }
    .offer {
        width: fit-content;
        margin: auto;
        padding-top: 20px;
        // color: #white;
        letter-spacing: 0.5px;
        h2 {
            font-family: OpenSans-BoldItalic;
            font-size: 22px;
            margin-top: 10px;
            color: map-get($colors, secondary);
        }
        p {
            color: map-get($colors, secondary);
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
    }
    ion-card {
        margin: 0 !important;
        margin-top: 12px !important;
        width: 100% !important;
        box-shadow: none !important;
        p {
            /* Description: */
            font-family: OpenSans-Light;
            font-size: 12px !important;
            color: map-get($colors, text);
        }
    }
    ion-col:nth-child(even) {
        ion-card {
            margin-left: 6px !important;
            margin-right: 12px !important;
        }
    }
    ion-col:nth-child(odd) {
        ion-card {
            margin-left: 12px !important;
            margin-right: 6px !important;
        }
    }
    ion-header {
        div {
            border: none;
        }
    }
    ion-card-content {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    img {
        width: 80px !important;
        height: 100px !important;
        margin: 20px auto;
    }
}
