<ion-header>
    <ion-navbar color="tertiary">
        <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
        <ion-title>Menu</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row no-padding justify-content-center>
            <ion-col no-padding col-6 align-self-center *ngFor="let cat of categories">
                <ion-card (click)="goToSubMenu(cat)">
                    <img src="{{cat.img}}" />
                    <ion-card-content>
                        <ion-card-title>
                            {{ cat.title }}
                        </ion-card-title>
                        <p>{{ cat.description }} </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>