page-menu-one {
    ion-content {
        background: color($colors, tertiary) !important;
    }
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
    }
    ion-card {
        margin: 0 !important;
        margin-top: 12px !important;
        width: 100% !important;
        box-shadow: none !important;
        p {
            font-size: 12px !important;
        }
    }
    ion-col:nth-child(even) {
        ion-card {
            margin-left: 6px !important;
            margin-right: 12px !important;
        }
    }
    ion-col:nth-child(odd) {
        ion-card {
            margin-left: 12px !important;
            margin-right: 6px !important;
        }
    }
    ion-card-content {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}