<!--
  Generated template for the BankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="tertiary">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title>Banking</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let cat of categories" (click)="bankAction(cat)">
      <div class="img" [style.background]="'url(' + cat.img + ')'"></div>
      <div class="card-title">{{ cat.title }}</div>
      <div class="card-subtitle">{{ cat.description }}</div>
  </ion-card>
</ion-content>
