page-profile {
    ion-header {
        background: url('../assets/imgs/profile.png') no-repeat center center;
        background-size: 100% 100% !important;
        min-height: 55vh;
        color: map-get($colors, secondary) !important;
    }
    ion-content {
        height: 45 vh;
        ion-col {
            color: map-get($colors, text) !important;
        }
    }
    .toolbar-background {
        background: transparent !important;
    }
    .toolbar-title,
    .bar-button {
        color: map-get($colors, secondary) !important;
    }
    .profile-name {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-right: 20px;
        padding-left: 20px;
        h2,
        p {
            color: map-get($colors, secondary);
        }
        /* change-image button */
        button {
            width: 40px;
            height: 40px;
            margin-top: -25px;
        }
    }
    p {
        margin-top: 0;
        font-family: OpenSansLight-Italic;
    }
    h2 {
        margin-bottom: 0;
        color: #B7B7B7;
    }
}