<ion-header>
    <ion-navbar color="tertiary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Profile</ion-title>
    </ion-navbar>

    <div class="profile-name" text-start icon-end>
        <h2>Alexander Karev</h2>
        <p icon-end> UI Designer & Coffee Lover

            <button ion-fab icon-only float-right color="secondary" (click)="changeImage()">
              <ion-icon name="camera"></ion-icon>
           </button>
        </p>
    </div>
</ion-header>


<ion-content padding>
    <article text-center padding-vertical>
        Born in Singapore, received my design training in London and New York, and am always striving to create work that combines strategic design with compelling visuals and an attention to detail.
    </article>

    <ion-grid>
        <ion-row text-center>
            <ion-col col3>
                <h2>0</h2>
                <p>Orders</p>
            </ion-col>
            <ion-col col3>
                <h2>30</h2>
                <p>Likes</p>
            </ion-col>
            <ion-col col3>
                <h2>25</h2>
                <p>Follower</p>
            </ion-col>
            <ion-col col3>
                <h2>60</h2>
                <p>Following</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <button ion-button full color="primary" (click)="follow()">
    Follow
  </button>
</ion-content>