<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
</ion-header>

<ion-content text-center>
    <img src="assets/imgs/logo-gray.png" alt="Logo">
</ion-content>