<!--
  Generated template for the NairaCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Naira Debit Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>


    <ion-card *ngFor="let item of nairaCrd">
        <ion-card-content>
          <img src="{{item.logo}}" alt="">
<h4>{{item.card_banks}}</h4>
<h2>{{item.ATM_withdrawal_abroad}}</h2>
<p text-right>{{item.local_POS_withdrawals_limit}}</p>
<p text-right>{{item.local_ATM_withdrawals_limit}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>
