<!--
  Generated template for the ProjectbudgetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div class="logo-container" text-center [style.display]="'block'">
      <img src="assets/imgs/logo.png" alt="Logo">

      <!-- <ion-segment [(ngModel)]="screen" mode="md" align-self-end text-uppercase text-center color="secondary">
          <ion-segment-button value="signin">
              Sign In
          </ion-segment-button>
         
      </ion-segment> -->
      
      <ion-navbar>
    <ion-title>Projects Budget Performance</ion-title>
        
      </ion-navbar>

  </div>

  

</ion-header>
  
  
  <ion-content padding>
      <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>
  
      <ion-grid >
          <ion-row justify-content-center align-items-center >
              
            <!-- <button ion-button small (click)="week()" >Week</button>
              <button ion-button small (click)="month()" >Month</button>
              <button ion-button small (click)="year()" >Year</button>
              <button ion-button small (click)="range()" >Range</button> -->
        
          </ion-row>
        </ion-grid>
  

        <ion-card>
          <ion-card-header >
            Line Chart
          </ion-card-header>
        <ion-card-content>
            <canvas #lineCanvas></canvas>
         </ion-card-content>
      </ion-card>

  
      <ion-card>
          
        <ion-card-header >
            Bar Chart
          </ion-card-header>
        <ion-card-content>
            <canvas #barCanvas></canvas>
         </ion-card-content>
      </ion-card>
  
  </ion-content>
