/* Load external fonts */


/* OpenSans */

@font-face {
    font-family: 'OpenSans';
    src: url($font-path + '/OpenSansRegular.eot');
    src: url($font-path + '/OpenSansRegular.eot') format('embedded-opentype'), url($font-path + '/OpenSansRegular.woff2') format('woff2'), url($font-path + '/OpenSansRegular.woff') format('woff'), url($font-path + '/OpenSansRegular.ttf') format('truetype'), url($font-path + '/OpenSansRegular.svg#OpenSansRegular') format('svg');
}


/* OpenSans-Light */

@font-face {
    font-family: 'OpenSans-Light';
    src: url($font-path + '/OpenSansLight.eot');
    src: url($font-path + '/OpenSansLight.eot') format('embedded-opentype'), url($font-path + '/OpenSansLight.woff2') format('woff2'), url($font-path + '/OpenSansLight.woff') format('woff'), url($font-path + '/OpenSansLight.ttf') format('truetype'), url($font-path + '/OpenSansLight.svg#OpenSansLight') format('svg');
}


/* OpenSans-Semibold */

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url($font-path + '/OpenSansSemibold.eot');
    src: url($font-path + '/OpenSansSemibold.eot') format('embedded-opentype'), url($font-path + '/OpenSansSemibold.woff2') format('woff2'), url($font-path + '/OpenSansSemibold.woff') format('woff'), url($font-path + '/OpenSansSemibold.ttf') format('truetype'), url($font-path + '/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}


/* OpenSans-Italic */

@font-face {
    font-family: 'OpenSans-Italic';
    src: url($font-path + '/OpenSansItalic.eot');
    src: url($font-path + '/OpenSansItalic.eot') format('embedded-opentype'), url($font-path + '/OpenSansItalic.woff2') format('woff2'), url($font-path + '/OpenSansItalic.woff') format('woff'), url($font-path + '/OpenSansItalic.ttf') format('truetype'), url($font-path + '/OpenSansItalic.svg#OpenSansItalic') format('svg');
}


/* OpenSansLight-Italic */

@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url($font-path + '/OpenSansLightItalic.eot');
    src: url($font-path + '/OpenSansLightItalic.eot') format('embedded-opentype'), url($font-path + '/OpenSansLightItalic.woff2') format('woff2'), url($font-path + '/OpenSansLightItalic.woff') format('woff'), url($font-path + '/OpenSansLightItalic.ttf') format('truetype'), url($font-path + '/OpenSansLightItalic.svg#OpenSansLightItalic') format('svg');
}


/* OpenSans-BoldItalic */

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url($font-path + '/OpenSansBoldItalic.eot');
    src: url($font-path + '/OpenSansBoldItalic.eot') format('embedded-opentype'), url($font-path + '/OpenSansBoldItalic.woff2') format('woff2'), url($font-path + '/OpenSansBoldItalic.woff') format('woff'), url($font-path + '/OpenSansBoldItalic.ttf') format('truetype'), url($font-path + '/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
}