$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
$menu-width:230px;
// $colors: ( primary: #0D9F67, secondary: #ffffff, tertiary:#f3f3f3, danger: #f53d3d, light: #C1C1C1, title: #666666, text: #919191, gradient-border-color: #E2E2E2, default: #638490 );
$colors: ( primary: #638490, secondary: #ffffff, tertiary:#f3f3f3, danger: #f53d3d, light: #C1C1C1, title: #666666, text: #919191, gradient-border-color: #E2E2E2, default: #638490 );
// App Theme
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
@import "fonts";