<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Walkthrough</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <div class="image-container">
                <img [src]="'assets/imgs/logo-gray.png'" />
            </div>
            <h2 text-uppercase class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
            <button ion-button color="primary" (click)="goToHomePage()">
              Get Started!
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>