page-walkthrough {
    .image-container {
        height: 45vh;
        img {
            width: 120px;
            margin-top: 25%;
        }
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 2.8rem;
    }
    .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 18px 0;
    }
    h2 {
        color: map-get($colors, primary);
        letter-spacing: 0.65px;
    }
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        font-family: OpenSans;
        color: #B7B7B7;
        letter-spacing: 0.4px;
    }
    ion-slide {
        button {
            font-family: OpenSans-Semibold;
            width: 180px;
            color: map-get($colors, secondary);
            letter-spacing: 0.53px;
            margin-top: 40px !important;
        }
    }
    .swiper-pagination-bullet-active {
        background: map-get($colors, primary);
    }
}