<ion-menu [content]="content">
    <ion-content>
        <div text-center class="menu-header">
            <img src="assets/imgs/logo-gray.png" alt="">
        </div>

        <ion-list no-lines>
            <ion-item class="menu-item" menuClose *ngFor="let page of pages" [class.highlight]="activePage == page" (click)="openPage(page)">
                {{ page.title }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>