ion-menu {
    /* highlight active page */
    * {
        // font-size: 100%;
        font-family: Georgia !important;
       }

    .highlight {
        color: map-get($colors, primary) !important;
        border-right: 5px solid map-get($colors, primary) !important;
        font-weight: 600;
        background-color: rgba(13, 159, 103, 0.06);
    }
    ion-item {
        // font-family: OpenSans-Light;
        font-family: "Georgia";
        font-size: 16px !important;
        letter-spacing: 1.41px;
        padding-left: 40px !important;
    }
    .menu-header {
        height: 25vh;
        img {
            width: 80px;
            margin-top: 25%;
        }
    }
}

ion-app {
    // font-family: OpenSans;
    font-family: "Georgia";
    color: map-get($colors, secondary);
}


/* remove bottom border from header */

.toolbar-background {
    border: 0 !important;
}

p {
    color: map-get($colors, text);
    // font-family: OpenSans-Light;
    font-family: "Georgia";
}

h2 {
    // font-family: OpenSans-Semibold;
    font-family: "Georgia";
    color: map-get($colors, title);
}

article {
    // font-family: OpenSans-Light;
    font-family: "Georgia";
    color: map-get($colors, text);
    letter-spacing: 0.6px;
    line-height: 25px;
}

.toolbar-title,
.bar-button {
    // font-family: OpenSans-Semibold;
    font-family: "Georgia";
    color: map-get($colors, title) !important;
}