<!--
  Generated template for the PaystackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
<<<<<<< HEAD

        <ion-title>Make Payment</ion-title>

    </ion-navbar>

</ion-header>

<ion-content>

    <div class="image" text-center><img src="assets/imgs/paystack_logo.png" /></div>

    <!-- <div class="amount">NGN {{data | number:'.2'}}</div> -->
    <!-- <div class="amount">NGN {{data}}</div> -->

    <div class="input-area">

        <ion-list>

            <ion-item>

                <ion-input type="text" placeholder="Email Address" #email_add [(ngModel)]="emailValue"></ion-input>

            </ion-item>

            <!-- <div class="cardnumber">

                <ion-label>CARD NUMBER</ion-label>

                <ion-item>

                    <ion-input type="tel" placeholder="0000000000000000" name="card_number" #card_number [(ngModel)]="cardNumberValue"></ion-input>

                </ion-item>

            </div> -->

            <ion-grid padding>

                <!-- <ion-row>

                    <ion-col col-6>Expiry date</ion-col>

                    <ion-col col-2> </ion-col>

                    <ion-col col-4> CVV</ion-col>

                </ion-row> -->

                <!-- <ion-row no-lines align-items-start>

                    <ion-col col-3>

                        <ion-item no-padding>

                            <ion-input type="tel" placeholder="MM" name="expiryMonth" #expiryMonth [(ngModel)]="expiryMonthValue"></ion-input>

                        </ion-item>

                    </ion-col>

                    <ion-col col-3>

                        <ion-item no-padding>

                            <ion-input type="tel" placeholder="YY" name="expiryYear" #expiryYear [(ngModel)]="expiryYearValue"></ion-input>

                        </ion-item>

                    </ion-col>

                    <ion-col col-2>

                    </ion-col>

                    <ion-col col-4>

                        <div class="cvv">

                            <ion-item>

                                <ion-input type="tel" placeholder="123" name="cvc" #cvc [(ngModel)]="cvcValue"></ion-input>

                            </ion-item>

                        </div>

                    </ion-col>

                </ion-row> -->

            </ion-grid>

            <div class="pay-button">

                <!-- <button ion-button full (click)="ChargeCard()">PAY NGN {{data | number:'.2'}} </button> -->
                <button ion-button full (click)="ChargeCard()">PAY NGN {{price}} </button>

            </div>

        </ion-list>

    </div>

    <div class="footer">

        <div class="secured">

            <ion-icon name="lock" item-start></ion-icon>

            SECURED BY PAYSTACK

        </div>

        <div class="whatspaystack">

            <button ion-button outline small round class="app-font-25" (click)="whatsPaystack()"> WHAT IS PAYSTACK?</button>

        </div>

    </div>

</ion-content>
=======
    
      <ion-title>Make Payment</ion-title>
    
    </ion-navbar>
  
  </ion-header>
  
  <ion-content  >
  
    <div class="image" text-center><img  src="assets/imgs/paystack_logo.png" /></div>
    
    <!-- <div class="amount">NGN {{data | number:'.2'}}</div> -->
    <div class="amount">NGN {{data}}</div>
    
    <div class="input-area">
    
    <ion-list >
    
    <ion-item >
    
    <ion-input type="text" placeholder="Email Address"  #email_add [(ngModel)]="emailValue"></ion-input>
    
    </ion-item>
    
    <div class="cardnumber">
    
    <ion-label >CARD NUMBER</ion-label>
    
    <ion-item >
    
    <ion-input type="tel" placeholder="0000000000000000" name="card_number" #card_number [(ngModel)]="cardNumberValue"></ion-input>
    
    </ion-item>
    
    </div>
    
    <ion-grid padding>
    
    <ion-row >
    
    <ion-col col-6>Expiry date</ion-col>
    
    <ion-col col-2> </ion-col>
    
    <ion-col col-4> CVV</ion-col>
    
    </ion-row>
    
    <ion-row no-lines align-items-start>
    
    <ion-col col-3>
    
    <ion-item no-padding>
    
    <ion-input type="tel" placeholder="MM" name="expiryMonth" #expiryMonth [(ngModel)]="expiryMonthValue"></ion-input>
    
    </ion-item>
    
    </ion-col >
    
    <ion-col col-3>
    
    <ion-item no-padding>
    
    <ion-input type="tel"  placeholder="YY" name="expiryYear" #expiryYear [(ngModel)]="expiryYearValue"></ion-input>
    
    </ion-item>
    
    </ion-col>
    
    <ion-col col-2>
    
    </ion-col>
    
    <ion-col col-4>
    
    <div class="cvv">
    
    <ion-item>
    
    <ion-input type="tel" placeholder="123" name="cvc" #cvc [(ngModel)]="cvcValue"></ion-input>
    
    </ion-item>
    
    </div>
    
    </ion-col>
    
    </ion-row>
    
    </ion-grid>
    
    <div class="pay-button">
    
    <!-- <button ion-button full (click)="ChargeCard()">PAY NGN {{data | number:'.2'}} </button> -->
    <button ion-button full (click)="ChargeCard()">PAY NGN {{price}} </button>
    
    </div>
    
    </ion-list>
    
    </div>
    
    <div class="footer">
    
    <div class="secured">
    
    <ion-icon name="lock" item-start></ion-icon>
    
    SECURED BY PAYSTACK
    
    </div>
    
    <div class="whatspaystack">
    
    <button ion-button outline  small round class="app-font-25" (click)="whatsPaystack()"> WHAT IS PAYSTACK?</button>
    
    </div>
    
    </div>
    
  </ion-content>
>>>>>>> 21a1580dfad3b2d00df43151d3b964fc56bf6298
