<!--
  Generated template for the LoadsmstransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="tertiary">
        <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
       </button>
        <!-- <ion-title>Analysis</ion-title> -->
    <ion-title>Upload to Server</ion-title>
    <!-- <ion-title>{{userName}}'s Gaid Investment</ion-title> -->
    </ion-navbar>

  <!-- <ion-navbar>
    <ion-title>Upload to Server</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>
<<<<<<< HEAD
  <p color="danger" style="color:red">Please Import Whole Month's Data at Once to Avoid Irregularities</p>
=======
  <!-- <p color="danger" style="color:red">Please Import Whole Month's Data at Once to Avoid Irregularities</p> -->
  <h4 style="color:red">Notice!!!</h4>
  <ul style="color:red">
  
  <li>  Currently, you can only upload your GTBank account statement. </li>
  <li> Login to the internet banking on desktop, and download account statement for any period of time or send to your mail through the GTBank app. </li>
  <li> Then upload here. </li>
  <li> It is advisable to do it monthly</li>
  </ul>
>>>>>>> 21a1580dfad3b2d00df43151d3b964fc56bf6298
  <!-- add instructions for upload here -->
  <ion-spinner text-center *ngIf="feedback==0" name="bubbles" paused="false"></ion-spinner>

  <button ion-button color="success" *ngIf="uId" block (click)="LoadFile()" round>Select File to Upload</button>
  <!-- <p *ngIf="feedback==1">Success!!!</p> -->
  <!-- <p>{{uId}}</p> -->


    <ion-list>
        <ion-item *ngFor="let x of messages">
        <ion-avatar item-start>
<<<<<<< HEAD
        <button ion-button color="danger" (click)="LoadMsg(x)" round>{{x.address}}</button>
=======
        <!-- <button ion-button color="danger" (click)="LoadMsg(x)" round>{{x.address}}</button> -->
>>>>>>> 21a1580dfad3b2d00df43151d3b964fc56bf6298
      </ion-avatar>
      <h2>{{x.address}}</h2>
      <p>{{x.body}}</p>
      <!-- <p>"splitBody(x.body)"</p> -->
    </ion-item>
  </ion-list>
  
  <!-- <button ion-button color="danger" (click)="paystack()" round>pay</button> -->
<!-- <hr>
      <h2>Welcome to myLeo!</h2>
  <p>
    Acct: {{acct}}
  </p>
  <p>
    Amt: {{amt}}
  </p>
  <p>
    Type: {{type}}
  </p>
  <p>
    Desc: {{desc}}
  </p>
  <p>
    Bal: {{bal}}
  </p>
  <p>
    Bucket: {{bucketFin}}
  </p>
  <p>
    Date: {{date}}
  </p>
  <p>
    LDate: {{lastDate}}
  </p> -->
  <p >
        {{uploadRes}}
   <!-- {{smsCount}} New Messages Found, <button ion-button color="primary" *ngIf="smsCount > 0" (click)="syncSMS(messages)" round>Sync</button> -->
  </p>

</ion-content>
