<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Likes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines no-margin padding-horizontal>
        <ion-item *ngFor="let item of items">
            <ion-thumbnail item-start>
                <img src="{{item.img}}">
            </ion-thumbnail>
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            <ion-row no-padding>
                <ion-col no-padding>
                    <button no-padding ion-button clear small color="primary">
                  {{ item.price | currency:'USD':true:'1.2'}}
                  </button>
                </ion-col>
                <ion-col text-right no-padding>
                    <button no-padding ion-button clear small [color]="item.isliked? 'danger' : 'light'" (click)="item.isliked = !item.isliked" icon-end>
                  <ion-icon name='heart'></ion-icon>
                  <!-- {{ item.likes | number}} -->
                </button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>