page-favorites {
    font-family: OpenSans;
    color: map-get($colors, secondary);
    ion-item {
        height: 120px !important;
        /* CSS trick to show gradient border */
        border-bottom: 1px solid transparent !important;
        border-image: linear-gradient(to left, transparent 0%, map-get($colors, gradient-border-color) 25%, map-get($colors, gradient-border-color) 75%, transparent 100%) !important;
        border-image-slice: 1 !important;
        h2 {
            font-size: 36px;
        }
        p {
            font-family: OpenSansLight-Italic;
            font-size: 24px;
        }
        button {
            font-family: OpenSans-Semibold;
            font-size: 28px;
        }
    }
    ion-thumbnail {
        width: 60px !important;
        height: 80px !important;
        img {
            width: 60px !important;
            height: 80px !important;
        }
    }
}