<!--
  Generated template for the ProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Goals Analytics for {{userName}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>
    
    <ion-grid >
      <ion-row justify-content-center align-items-center >
    <!--  -->
          <!-- <button ion-button small (click)="apitest()">Week</button> -->
          <button ion-button small (click)="week()" >Week</button>
          <button ion-button small (click)="month()" >Month</button>
          <button ion-button small (click)="year()" >Year</button>
          <button ion-button small (click)="range()" >Range</button>
    
      </ion-row>
    </ion-grid>
    
    <ion-card *ngIf="drange">
          
      <ion-card-content>
          <ion-item>
            <ion-label stacked> From </ion-label>
            <ion-input type="date" [(ngModel)]="from" name="from" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked> To </ion-label>
            <ion-input type="date" [(ngModel)]="to" name="to" ></ion-input>
          </ion-item>
      <button ion-button small (click)="getRange()" >Go</button>
         
       </ion-card-content>
    </ion-card>
    
        <ion-card>
            <!-- <ion-card-header (click)="toggleDonut()"> -->
            <ion-card-header >
              Donut
            </ion-card-header>
          <ion-card-content>
              <canvas #doughnutCanvas></canvas>
           </ion-card-content>
        </ion-card>
    
        <ion-card>
            <ion-card-header >
              Line
            </ion-card-header>
          <ion-card-content>
              <canvas #lineCanvas></canvas>
           </ion-card-content>
        </ion-card>
    
    
    </ion-content>
>
