page-setting {
    ion-item {
        height: 60px !important;
        margin-left: 0 !important;
        ion-label {
            font-family: OpenSans-Light;
            color: map-get($colors, text) !important;
        }
        ion-input {
            font-family: OpenSans;
            font-size: 15px;
            color: map-get($colors, text) !important;
        }
    }
    ion-list-header {
        background: map-get($colors, tertiary) !important;
    }
    .toolbar-title {
        font-family: OpenSans-Semibold;
        color: map-get($colors, title) !important;
    }
    .toolbar-title,
    .bar-button {
        color: map-get($colors, title) !important;
    }
}