<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>Setting</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
        <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>

    
    <ion-list no-lines no-margin>
        <ion-item text-center>
        <h2>Edit Settings Here</h2>
        </ion-item>
        <ion-item>
            <ion-label> Name</ion-label>
            <ion-input [(ngModel)]="setting.name" text-right type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> DOB</ion-label>
            <ion-input [(ngModel)]="setting.dob" text-right type="date"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> DOW</ion-label>
            <ion-input [(ngModel)]="setting.dow" text-right type="date"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Pension</ion-label>
            <ion-input [(ngModel)]="setting.pen" text-right type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Assets (at signup)</ion-label>
            <ion-input [(ngModel)]="setting.savInv" text-right type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Expenses</ion-label>
            <ion-input [(ngModel)]="setting.exp" text-right type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Income</ion-label>
            <ion-input [(ngModel)]="setting.inc" text-right type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Retirement Age</ion-label>
            <ion-input [(ngModel)]="setting.ret" text-right type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Email</ion-label>
            <ion-input [(ngModel)]="setting.email" text-right type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Password</ion-label>
            <ion-input [(ngModel)]="setting.pword" text-right type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Confirm Password</ion-label>
            <ion-input [(ngModel)]="setting.cpword" text-right type="password"></ion-input>
        </ion-item>

        <button ion-button color="primary" small (click)="editUser()" >Update</button>
        <button ion-button small (click)="reset()" >Reset</button>
        <!-- <ion-list-header>
            Social Media
        </ion-list-header>
        <ion-item>
            <ion-toggle [(ngModel)]="setting.facebook" color="primary"></ion-toggle>
            <ion-label>
                Facebook
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-toggle [(ngModel)]="setting.twitter" color="primary"></ion-toggle>
            <ion-label>
                Twitter
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-toggle [(ngModel)]="setting.instagram" color="primary"></ion-toggle>
            <ion-label>
                Instagram
            </ion-label>
        </ion-item>
        <ion-list-header>
            Notifications
        </ion-list-header>
        <ion-item>
            <ion-toggle [(ngModel)]="setting.offers" color="primary"></ion-toggle>
            <ion-label>
                Offers
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-toggle [(ngModel)]="setting.discount" color="primary"></ion-toggle>
            <ion-label>
                New items
            </ion-label>
        </ion-item> -->
    </ion-list>
</ion-content>