<!--
  Generated template for the EdittransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the AddtransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <div class="logo-container" text-center [style.display]="'block'">
        <img src="assets/imgs/logo.png" alt="Logo">

        <!-- <ion-segment [(ngModel)]="screen" mode="md" align-self-end text-uppercase text-center color="secondary">
            <ion-segment-button value="signin">
                Sign In
            </ion-segment-button>
           
        </ion-segment> -->
        
        <ion-navbar>
          <!-- <ion-title>Add Transactions for {{userName}}</ion-title> -->
          <ion-title>Edit {{userName}}'s Transactions</ion-title>

      
        </ion-navbar>

    </div>

    
  
  </ion-header>
  
  
  <ion-content padding>
  
  <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>
  
      <ion-item>
        <ion-label stacked>Transaction Type</ion-label>
        <ion-select [(ngModel)]="type">
          <ion-option value="cr">Credit</ion-option>
          <ion-option value="dr">Debit</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item >
        <ion-label stacked>Description</ion-label>
        <ion-input type=""  [(ngModel)]="desc"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Bucket</ion-label>
        <ion-select [(ngModel)]="bucket">
          <!-- <ion-option value="b1">B1</ion-option> -->
          <!-- <ion-option value="b2">B2</ion-option> -->
          <ion-option *ngFor="let x of buckets" [value]="x">{{x}}</ion-option>

        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="amt"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Date</ion-label>
          <ion-input type="date"  [(ngModel)]="date"></ion-input>
        </ion-item>
  
      <ion-item>
          <!-- <button ion-button small (click)="saveAdd()">Save</button> -->
          <button ion-button small (click)="saveEditApi()">Save</button>
      </ion-item>
  
  </ion-content>
  
