<!--
  Generated template for the AddtransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div class="logo-container" text-center [style.display]="'block'">
      <img src="assets/imgs/logo.png" alt="Logo">

      <!-- <ion-segment [(ngModel)]="screen" mode="md" align-self-end text-uppercase text-center color="secondary">
          <ion-segment-button value="signin">
              Sign In
          </ion-segment-button>
         
      </ion-segment> -->
      
      <ion-navbar>
        <ion-title>{{userName}}'s Budget</ion-title>
        
      </ion-navbar>

  </div>

  

</ion-header>


<ion-content padding>

<ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>

  <!-- <i  click="help()"> <ion-icon color="danger" name="help"></ion-icon> </i> -->
  <ion-card>
      <ion-card-content>

  <button ion-button float-right small color="secondary" (click)="help()"><strong><ion-icon color="danger" style="font-size: 45px" name="help"></ion-icon></strong></button>

  
  <ion-item >
      <ion-label stacked>Projected Monthly Income(NGN)</ion-label>
      <ion-input type="number"  [(ngModel)]="income"></ion-input>
    </ion-item>
  
  <ion-item>
      <ion-label stacked>Are You Servicing Debts ?</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value="debtor">Yes</ion-option>
        <ion-option value="ndebtor">No</ion-option>
      </ion-select>
    </ion-item>
    </ion-card-content>
</ion-card>
    <br/>
    <br/>
  
    <ion-card>
        <ion-card-content>
    
  <i > Assign Pecentages of Your Income to Each Allocation </i>
 
   
    <ion-item >
      <ion-label stacked>Living Expenses(%)</ion-label>
      <ion-input type="number"  [(ngModel)]="expenses"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label stacked>Bucket</ion-label>
      <ion-select [(ngModel)]="bucket">
        <ion-option *ngFor="let x of buckets" [value]="x">{{x}}</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label stacked>Savings & Investments(%)</ion-label>
      <ion-input type="number" [(ngModel)]="savInv"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Projects(%)</ion-label>
        <ion-input type="number"  [(ngModel)]="proj"></ion-input>
      </ion-item>
    
      <ion-item *ngIf="type=='debtor'">
      <ion-label stacked>Debt Repayment(%)</ion-label>
        <ion-input type="number"  [(ngModel)]="debt"></ion-input>
      </ion-item>

    <ion-item no-lines *ngIf="id > 0"  >
        <!-- <button ion-button small (click)="saveAdd()">Save</button> -->
        <button ion-button small (click)="saveBudget()">Save</button>
    </ion-item>
  </ion-card-content>
</ion-card>

</ion-content>
