page-addtransactions {
    .logo-container {
        background: url('../assets/imgs/login-header.png') no-repeat content-box;
        background-size: 100% 100%;
        height: 55%;
        position: relative;
        display: block;
        img {
            margin-top: 25%;
            width: 110px;
        }
        // ion-segment {
        //     position: absolute;
        //     bottom: 0;
        //     ion-segment-button {
        //         font-size: 14px !important;
        //         letter-spacing: 1.5px;
        //         line-height: 22px;
        //         border-bottom-width: 5px !important;
        //     }
        // }
    }
}
