<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Coffee</ion-title>
    </ion-navbar>

    <br>
    <div class="offer" text-center>
        <h2>The Science of Delicious.</h2>
        <p>Amazing coffees from around the world! </p>
    </div>
</ion-header>


<ion-content>
    <ion-grid no-padding>
        <ion-row no-padding justify-content-center>
            <ion-col no-padding col-6 align-self-center *ngFor="let item of items">
                <ion-card>
                    <ion-card-content>
                        <ion-card-title (click)="selectItem(item)">
                            {{ item.title }}
                        </ion-card-title>
                        <p (click)="selectItem(item)">{{ item.description }} </p>
                        <img (click)="selectItem(item)" src="{{item.img}}" />
                        <ion-row no-padding>
                            <ion-col no-padding>
                                <button no-padding ion-button clear small color="primary">
                              {{ item.price | currency:'USD':true:'1.2'}}
                              </button>
                            </ion-col>
                            <ion-col (click)="selectItem(item)">

                            </ion-col>
                            <ion-col text-right no-padding>
                                <button no-padding ion-button clear small [color]="item.isliked? 'danger' : 'light'" (click)="item.isliked = !item.isliked" icon-start>
                              <ion-icon name='heart'></ion-icon>
                              {{ item.likes | number}}
                            </button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>