<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Coffee</ion-title>
    </ion-navbar>

    <br>
    <div class="offer" text-center>
        <p>Special Offer</p>
        <h2>{{ specialOffer.item }}</h2>
        <p>Blue Ridge Blend</p>
        <p text-left style="margin-top: 20px;" class="old-price">
            {{ specialOffer.oldPrice | currency:'USD':true:'1.0-2'}}
            <span float-right class="new-price">
              {{ specialOffer.newPrice | currency:'USD':true:'1.0-2'}}
          </span>
        </p>
    </div>
</ion-header>

<ion-content>
    <ion-list no-lines no-margin>
        <ion-item *ngFor="let item of items">
            <ion-thumbnail item-start (click)="selectItem(item)">
                <img src="{{item.img}}">
            </ion-thumbnail>
            <h2 (click)="selectItem(item)">{{ item.title }}</h2>
            <p (click)="selectItem(item)">{{ item.description }}</p>
            <ion-row no-padding>
                <ion-col no-padding>
                    <button no-padding ion-button clear small color="primary">
                  {{ item.price | currency:'USD':true:'1.2'}}
                  </button>
                </ion-col>
                <ion-col (click)="selectItem(item)">

                </ion-col>
                <ion-col text-right no-padding>
                    <button no-padding ion-button clear small [color]="item.isliked? 'danger' : 'light'" (click)="item.isliked = !item.isliked" icon-start>
                  <ion-icon name='heart'></ion-icon>
                  {{ item.likes | number}}
                </button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>