<ion-content [ngSwitch]="screen">

    <div class="logo-container" text-center>
        <img src="assets/imgs/logo.png" alt="Logo">

        <ion-segment [(ngModel)]="screen" mode="md" align-self-end text-uppercase text-center color="secondary">
            <ion-segment-button value="signin">
                Sign In
            </ion-segment-button>
            <!-- <ion-segment-button value="signup">
                Sign Up
            </ion-segment-button> -->
        </ion-segment>
    </div>


    <div class="form-container" *ngSwitchCase="'signin'">
        <ion-list>
                <ion-item *ngIf="loaded==0">
                  <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>
               
                </ion-item>
                <ion-item>
                    <ion-input placeholder="Email"  type="email" [(ngModel)]="login.email" name="email" ></ion-input>
                </ion-item>
            <!-- <ion-item>
                <ion-input placeholder="Phone" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Email" type="email"></ion-input>
            </ion-item> -->
            <ion-item>
                <ion-input placeholder="Password" type="password" [(ngModel)]="login.pword" name="pword" ></ion-input>
            </ion-item>

            <ion-item text-center no-lines>                
                No Account? <a  color="primary" (click)="signUp()" >Sign Up</a>
            </ion-item>
                
            </ion-list>
        <br>
        <button ion-button full color="primary" (click)="loginCheck()" >Sign In</button>




        




    </div>
    <!-- <div class="form-container" *ngSwitchCase="'signup'">
        <ion-list>
            <ion-item>
                <ion-input placeholder="Username" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Phone" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Password" type="password"></ion-input>
            </ion-item>
        </ion-list>

        <button ion-button full color="primary">Sign Up</button>

    </div> -->
</ion-content>
<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->
