page-signup {
    .logo-container {
        background: url('../assets/imgs/login-header.png') no-repeat content-box;
        background-size: 100% 100%;
        height: 55%;
        position: relative;
        img {
            margin-top: 25%;
            width: 110px;
        }
        ion-segment {
            position: absolute;
            bottom: 0;
            ion-segment-button {
                font-size: 14px !important;
                letter-spacing: 1.5px;
                line-height: 22px;
                border-bottom-width: 5px !important;
            }
        }
    }
    .form-container {
        height: 45%;
        input {
            font-size: 12px;
            color: #878787;
        }
        ion-list {
            ion-item {
                height: calc( (45vh - 45px) / 4) !important;
                padding: 0;
                input {
                    padding-left: 16px;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
        button {
            position: absolute !important;
            bottom: 0;
            margin: 0 !important;
            letter-spacing: 0.53px;
            font-weight: 600;
        }
    }
}