<!--
  Generated template for the InitialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="secondary">
        <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
        <ion-title>Welcome</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
    <ion-slides>
        <ion-slide>
            <h1>Welcome, We have been expecting you</h1>

            <button ion-button small (click)="nextIndex()">Next</button>


        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <!-- <h1>Tell us your name</h1> -->
            <ion-item>
                <ion-label stacked>Tell us your name </ion-label>
                <ion-input type="text" [(ngModel)]="initialData.name" name="name"></ion-input>
            </ion-item>
            <!-- <hr> -->
            <button ion-button small (click)="nextIndex()">Next</button>


        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <!-- <h1>When were you born</h1> -->
            <ion-item>
                <ion-label stacked>When were you born </ion-label>
                <ion-input type="date" [(ngModel)]="initialData.dob" name="dob"></ion-input>
            </ion-item>
            <!-- <hr> -->
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>


        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <!-- <h1>When did you start work</h1> -->
                <ion-label stacked>When did you start work </ion-label>
                <ion-input type="date" [(ngModel)]="initialData.dow" name="dow"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>How much (Approx) do you have in your pension account </ion-label>
                <ion-input type="number" [(ngModel)]="initialData.pen" name="pen"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>How much (Approx) was your savings and investment last month </ion-label>
                <ion-input type="number" [(ngModel)]="initialData.savInv" name="savInv"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>How much (Approx) did you spend in total last month </ion-label>
                <ion-input type="number" [(ngModel)]="initialData.exp" name="exp"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>How much (Approx) did you make in total last month </ion-label>
                <ion-input type="number" [(ngModel)]="initialData.inc" name="inc"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>At what age do you intend to retire </ion-label>
                <ion-input type="number" [(ngModel)]="initialData.ret" name="ret"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>

            <!-- <button ion-button small (click)="logForm()" >Submit</button> -->
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>Email Address </ion-label>
                <ion-input type="email" [(ngModel)]="initialData.email" name="email"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>

            <!-- <button ion-button small (click)="logForm()" >Submit</button> -->
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>Password (Minimum of 6 characters) </ion-label>
                <ion-input type="password" [(ngModel)]="initialData.pword" name="pword"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <button ion-button small (click)="nextIndex()">Next</button>

            <!-- <button ion-button small (click)="logForm()" >Submit</button> -->
        </ion-slide>

        <ion-slide style="margin-top: 60px;">
            <ion-item>
                <ion-label stacked>Confirm Password (Be sure) </ion-label>
                <ion-input type="password" [(ngModel)]="initialData.cpword" name="cpword"></ion-input>
            </ion-item>
            <button ion-button color="primary" small (click)="prevIndex()">Previous</button>
            <!-- <button ion-button small (click)="nextIndex()" >Next</button> -->

            <button ion-button small (click)="logForm()">Submit</button>
        </ion-slide>

    </ion-slides>
</ion-content>