<!--
  Generated template for the InvestmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="tertiary">
        <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
       </button>
        <!-- <ion-title>Analysis</ion-title> -->
        <ion-title>{{userName}}'s Gaid Investment</ion-title>
    </ion-navbar>
 
</ion-header>


<ion-content padding>

    <ion-spinner text-center *ngIf="loaded==0" name="bubbles" paused="false"></ion-spinner>


    <ion-item>
        <ion-label stacked>How much would you like to invest?</ion-label>
        <ion-input type="number"  [(ngModel)]="amount"></ion-input>
    </ion-item>

    <ion-item no-lines>
        <ion-label stacked>Recurring?</ion-label>
        <ion-checkbox [(ngModel)]="recur"></ion-checkbox>
    </ion-item>
   <hr/>
    <ion-item  *ngIf="recur==true">
        <ion-label stacked>How frequently?</ion-label>
        <ion-select [(ngModel)]="freq">
            <!-- <ion-option value="daily">Daily</ion-option> -->
            <!-- <ion-option value="weekly">Weekly</ion-option> -->
            <ion-option value="monthly">Monthly</ion-option>
            <!-- <ion-option value="yearly">Yearly</ion-option> -->
        </ion-select>
    </ion-item>

    <ion-item  *ngIf="freq=='monthly' && recur==true" >
        <ion-label stacked>What Day of the Month?</ion-label>
        <ion-input type="date"  [(ngModel)]="deductDate"></ion-input>
    </ion-item>
  
    <ion-item no-lines *ngIf="amount">
        <!-- <button ion-button small (click)="buyInvestApi()">Buy</button> -->
        <button ion-button small (click)="goPay()">Buy</button>
    </ion-item>
  



    <hr *ngIf="investments">
    <h5 text-center *ngIf="investments">
        My Investments
    </h5>
    <i *ngIf="investments" padding text-left><b >Total:</b> NGN{{totInvest}}</i>
    <button *ngIf="investments" ion-button small  float-right (click)="toggleMore()">Show More</button>
   <div *ngIf="more==1">

       <ion-card  *ngFor="let item of investments">
           <ion-card-content>
               <h4>{{item.inv_type}}</h4>
               <h2>NGN{{item.actAmt}}</h2>
               <p text-right>{{item.inv_date}}</p>
            </ion-card-content>
        </ion-card>
    </div>
  </ion-content>
