<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Chocolate Muffin</ion-title>

        <button class="right-header-icon" ion-button clear icon-only [color]="order.item.isliked? 'danger' : 'light'" (click)="order.item.isliked = !order.item.isliked">
            <ion-icon name="heart"></ion-icon>
      </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col text-center padding>
            <img src="{{ order.item.img }}" alt="">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding-horizontal>
            <p>{{ order.item.description }}</p>
        </ion-col>
    </ion-row>
    <ion-row text-center>
        <ion-col>
            <ion-label>
                Quantity
            </ion-label>
            <h2 (click)="ionSelect.open()">
                {{ order.quantity }}
                <ion-icon name="ios-arrow-down"></ion-icon>
            </h2>
        </ion-col>
        <ion-col class="total">
            <ion-label>
                Total
            </ion-label>
            <h2>
                {{ (order.quantity * order.item.price) | currency:'USD':true:'1.0-2'}}
            </h2>
        </ion-col>
    </ion-row>
    <button ion-button full no-margin color="primary" (click)="placeOrder()"> Place The Order</button>

    <ion-item style="display:none;">
        <ion-select [(ngModel)]="order.quantity" #ionSelect>
            <ion-option>1</ion-option>
            <ion-option>2</ion-option>
            <ion-option>3</ion-option>
            <ion-option>4</ion-option>
            <ion-option>5</ion-option>
        </ion-select>
    </ion-item>

</ion-content>