page-order-details {
    img {
        max-width: 222px;
        padding-top: 30px;
    }
    p {
        line-height: 1.8;
    }
    ion-col.total {
        border-left: 1px solid map-get($colors, light);
        h2 {
            color: map-get($colors, primary);
        }
    }
    ion-label {
        color: map-get($colors, title);
    }
    ion-icon {
        padding-left: 20px;
        font-size: 20px;
    }
    button {
        position: absolute !important;
        left: 0;
        bottom: 0;
        font-family: OpenSans-Semibold;
    }
    /* alternative to the styling bug in ionic */
    .right-header-icon {
        left: calc(100% - 54px);
        top: 0;
    }
}