page-viewbudget {
    ion-card {
        position: relative;
        text-align: center;
        margin: 0 !important;
        width: 100% !important;
        height: 130px !important;
        margin-bottom: 2px !important;
        // background: url('/assets/imgs/menu/coffee.png') no-repeat center center scroll !important;
        // background
        background-attachment: fixed;
        background-position: center center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-color: rgba(48, 49, 50, 0.7) !important;
        background: black !important;
    }
    .img {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-color: rgba(48, 49, 50, 0.7) !important;
        opacity: 0.6;
    }
    .card-title {
        position: absolute;
        top: 28%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: map-get($colors, secondary);
        font-family: OpenSans-Semibold;
        color: map-get($colors, secondary);
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 53%;
        width: 100%;
        color: map-get($colors, secondary);
        font-family: OpenSans-Light;
    }
}
